@charset "UTF-8";

//*** グローバル変数 ***//
$mainColor: rgb(63, 67, 74);  // 文字色

//*** mixin ***//
@mixin flexMode($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

*    { box-sizing: border-box; }
html { font-size: 100%; color: $mainColor;}
body { font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing: 0.06rem;}
li   { list-style: none; }
a    { text-decoration: none; }
img { max-width: 100%; }
h2 { font-size: 1.8125rem; line-height: 46px; }
h3 { font-size: 1.625rem; }
p { font-size: 0.9375rem; letter-spacing: 0.03rem; line-height: 26px; }

/* 横幅を設定するための共通クラス */
.container {
    text-align: center;
}
.inner {
    max-width: 880px;
    margin: 0 auto;
    @include flexMode(space-between);
    display: block
}

/* /ここまで共通設定 */
/*-------------------------------------------
#mainVisual
-------------------------------------------*/
#mainVisual {
    background-image: url("../images/mainVisual.jpg");
    background-position: center bottom;
    background-size: cover;
    min-height: 100vh;

    .mainLogo {
        width: 228px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*-------------------------------------------
#first1
-------------------------------------------*/
#first1 {
    background-color: #FFFFFF;
    padding: 65px 20px;

    p {
        font-weight: 700;
        margin-top: 20px;
    }
}

/*-------------------------------------------
#second2
-------------------------------------------*/
#second2 {
    background-color: #F6F5F1;
    padding: 80px 0;

    .inner {
        display: flex;
    }

    .second2-1 {
        width: 56%;
        text-align: left;
        p {          
            margin: 20px 0 33px;            
        }
        .second2-navLink {
            display: flex;
            img {
                /* 画像のサイズをそのまま維持する */
                width: 165px;
                height: 50px;
                margin-right: 16px;
            }
        }
    }
    img {
        width: 40%;
    }
}

/*-------------------------------------------
#third3
-------------------------------------------*/
#third3 {
    .big-bg1 {
        background-image: url("../images/feature_img01-ec5a4fa540925093856a4600b9282663182201861ed3911f4dffad533dfbb207.jpg");      
        background-color: #ECDDD6;  
        background-size: contain;        
        
        .third3-inner {
            max-width: 900px;
            margin: 0 auto;
            @include flexMode(space-between);
        }
    }
    .third3-1 {        
        display: flex;  
        justify-content: space-between; 
        align-items: center;
        height: 442px;
        width: 900px;
        padding: 100px 0;
    }

    .big-bg2 {
        background-image: url("../images/feature_img02-73bb336631873b3edbb4e57f40a89a6ff353ff0d0b94a5feca71457431d5d127.jpg");    
        background-color: #D9D0E3;
        background-size: contain;
        background-position: right;

        .third3-inner {
            max-width: 900px;
            margin: 0 auto;
            @include flexMode(space-between);
        }
    }
    .third3-2 {
        display: flex;  
        justify-content: space-between; 
        align-items: center;
        height: 442px;
        width: 900px;
        padding: 100px 0;
        text-align: left;
        width: 34%;
    }

    .big-bg3 {
        background-image: url("../images/feature_img03-3b55fd1033c0d74d2c0a7eb96e18b021b26f5dd9c26818ce0644d510472f76b5.jpg");      
        background-color: #C9D4DA;  
        background-size: contain;
        
        .third3-inner {
            max-width: 900px;
            margin: 0 auto;
            @include flexMode(space-between);
        }
    }
    .third3-3 {
        display: flex;  
        justify-content: space-between; 
        align-items: center;
        height: 442px;
        width: 900px;
        padding: 100px 0;
    }
    p {         
        text-align: justify;
        margin-top: 12px;
    }
    .third3-1-1, .third3-3-1 {           
        text-align: left;
        width: 34%;
    }
    .third3-2-1 {           
        text-align: left;
        width: 100%;
    }

}

/*-------------------------------------------
#fourth4
-------------------------------------------*/
#fourth4 {
    background-color: #F6F5F1;
    padding-top: 60px;
    .fourth4-inner {
        display: flex; /* 要素をフレックスボックスとして表示 */
        gap: 24px;     /* 子要素間の間隔を24pxに設定 */
        overflow: scroll; /* コンテンツが要素のサイズを超える場合にスクロールバーを表示 */
        scrollbar-width: none; /* Firefox対応のスクロールバー非表示 */
        -ms-overflow-style: none; /* Internet Explorer対応のスクロールバー非表示 */
        padding: 0 24px; /* 上下左右に24pxのパディングを持つ */
    
        a {
            display: inline-block; /* インラインブロック要素として表示 */        
            flex: 1; /* フレックスアイテムをフレックスコンテナの残りのスペースに合わせる */
            min-width: calc(25% - 80px); /* 最小幅を計算して設定 */
            word-break: break-all; /* 単語の途中で改行可能 */
            text-align: justify; /* テキストを両端揃えにする */
            position: relative; /* 相対位置指定 */
    
            img {
                width: 100%; /* 画像の幅を100%に設定 */
            }
    
            .fourth4-title {
                position: absolute; /* 絶対位置指定 */
                bottom: 12px; /* 下から12pxの位置に配置 */
                left: 12px; /* 左から12pxの位置に配置 */
                color: #ffffff;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }
}

/*-------------------------------------------
#fifth5
-------------------------------------------*/
#fifth5 {
    background-color: #F9F9F9;
    padding: 64px 0;   
}

.fifth5-1-items {
    @include flexMode(center);
    gap: 0px 24px;
    img {
        width: 70px;
       
    }

    .fifth5-1-1-item {
        width: 30%;
        img {
            width: 150px;
        }
        h4 {
            margin: 15px 0 10px;
            line-height: 28px;
        }
        p {
            font-size: 0.8125rem;
            line-height: 23px;
            text-align: left;
        }
    }
}

/*-------------------------------------------
#sixth6
-------------------------------------------*/
#sixth6 {
    background-color: #F6F5F1;
    padding: 64px 0 60px;

    h3 {
        padding-bottom: 42px;
    }
    .sixth6-1 {
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    button {
        color: $mainColor;
        font-size: 0.875rem;
        font-weight: 700;
        border: 2px solid $mainColor;
        border-radius: 50px;
        padding: 17px 60px;
        margin-top: 40px;
    }
}

/*-------------------------------------------
#seventh7
-------------------------------------------*/
#seventh7 {
    background-color: #F2E4E4;
    padding: 60px 0 77px;    

    .seventh7-1 {
        display: flex;
        justify-content: center;    
        align-items: stretch;     
        gap: 0 40px;
        margin-top: 45px;       
    }
    .seventh7-1-1-item {
        width: 48%;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 30px;
        
        &:nth-of-type(1) {
            box-shadow: 1px 20px 30px #ECD0D0;
        }
        &:nth-of-type(2) {
            box-shadow: -1px 20px 30px #ECD0D0;
        }
        img {
            width: 100%;
            height: 280px;
            border-radius: 30px 30px 0 0; /* 左上と右上の角のみを10pxで丸くする */
            object-fit: cover;
            background-color: #F2E4E4;
        }
        .seventh7-1-1-1 {     
            font-size: 0.875rem;       
            border-radius: 0 0 30px 30px; /* 左下と右下の角のみを10pxで丸くする */
            padding: 25px 50px 40px 40px;
            text-align: left;

            h4 {
                font-size: 1.125rem;
                text-align: center;
                margin-bottom: 10px;
            }
            ul {
                margin: 20px 0;
                li {
                    list-style-type: disc;
                    margin-left: 15px;
                    &::marker {
                        font-size: smaller; /* 丸のサイズを小さくする */
                    }                    
                }
            }
            p {
                font-size: 0.875rem;
                &:nth-of-type(2) {
                    font-weight: 700;
                    line-height: 25px;
                }
            }
        }
    }    
    h3 {
        line-height: 42px;
    }
}

/*-------------------------------------------
#eighth8
-------------------------------------------*/
#eighth8 {
    background-color: #FFFFFF;
    padding: 60px 0 70px;

    .eighth8-1 {
        @include flexMode(center);
        flex-wrap: wrap;
        gap: 0 24px;
        flex-wrap: wrap;

        img {
            width: auto;  
            height: 38px;          
        }
    }
}

/*-------------------------------------------
#ninth9
-------------------------------------------*/
#ninth9 {
    background-color: #F6F5F1;
    text-align: left;
    padding: 44px 0 58px;

    .inner {
        padding: 0 20px;
    }
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    dl {
        dt {
            line-height: 32px;
            font-size: 1.125rem;
            font-weight: 700;    
        }
        dd {
            line-height: 29px;
            letter-spacing: 0.03rem;
            margin: 7px 0 20px 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*-------------------------------------------
#tenth10
-------------------------------------------*/
#tenth10 {
    background-color: #ffffff;
    background-image: url("../images/bg_app_bottom-de5cf589e38bd2038e4a7575fc900c805be8f4a1d5ad9a07530c6c9ec2d1bd9e.jpg");
    height: 530px;
    background-position: center;
    background-size: cover;
    color: #ffffff;    
    @include flexMode(center);
    flex-direction: column;

    .tenth10-logo {
        width: 180px;
        margin-bottom: 17px;
    }
    p {
        font-size: 1rem;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .tenth10-navLink {
        @include flexMode(space-between);
        .downLoad {
            width: 165px;
            height: 50px;
            margin-right: 16px;
        }
    }
}

/*-------------------------------------------
#footer
-------------------------------------------*/
#footer {
    background-color: #3F434A;
    padding: 60px 20px 40px;


    
    .footer-ul1 {
        @include flexMode(center);
        flex-wrap: wrap;
        gap: 24px;
        a {
            color: #ffffff;   
            line-height: 28px; 
        }
    }
    .footer-ul2 {
        @include flexMode(center);
        gap: 24px;
        margin-top: 50px;
        
        img {
            width: 32px;
        }
    }
    p {
        font-size: 0.8125rem;
        line-height: 23px;
        color: rgb(140,142,146);
        margin-top: 50px;
    }
}

#third3 {
    h3 {
        font-size: 1.375rem; //599px以下も同じ文字サイズ
    }
}

/*-------------------------------------------
サポートボタン
-------------------------------------------*/
/* 既存のスタイル */
#supportButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 15px 25px;
    background-color: #3F434A;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    border-radius: 50px;
    opacity: 1;
    &:active {
        box-shadow: inset 0 0 0 4px #5e646e; /* 内側に黒い4pxの線を引く */
    }
    .fa {
        margin-right: 10px;
    }
}
  
  #formContainer {
    
    display: none; //普段は非表示
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    
    width: 340px;
    height: 540px;    
    font-size: 0.875rem;
    color: #68737D;
    background-color: #fff;

    #formHeader {
        @include flexMode(center);
        background-color: #3F434A;
        height: 44px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        h3 {
            display: inline-block;
            color: #ffffff;            
            font-size: 0.875rem;
        }        
        /* 閉じるボタンのスタイルを追加 */
        #closeFormButton {            
            position: absolute;
            top: 10px;
            right: 10px;
            color: #ccc;
            width: 25px;
            height: 25px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 10px;
            transition: all 0.1s;
            &:hover {
                background-color: #484d55;
            }
            &:active {
                border: 3px solid #9da5b3; /* 内側に黒い1pxの線を引く */
            }
        }
    }

    #formMain {
        padding: 12px 20px;
        height: 430px;
        box-shadow: inset 0px -10px 20px -8px rgb(233,235,237);

        input, textarea {
            width: 100%;
            border: 1px solid #D8DCDE;
            border-radius: 4px;
            padding: 10px;
            transition: all 0.4s;
            &:hover {
                border: 1px solid rgb(87, 87, 87); /* マウスカーソルが要素の上にある時に青い枠線を表示 */
            }
            &:focus {
                box-shadow: 0 0 0 3px #D9D9D9; /* 外側に青い色を付ける */
                border: 1px solid rgb(87, 87, 87); /* マウスカーソルが要素の上にある時に青い枠線を表示 */
            }
        }
    
        input {                
            height: 40px;                
        }        
        textarea {
            height: 100px;
            resize: none;
        }

        h4 {
            color: #485158;
            font-size: 0.75rem;
            font-weight: 700;
        }

        #mail {            
            p {
                font-size: 0.75rem;
            }
            label {
                margin: 5px 0 10px;
                display: inline-block;
            }
        }

        #text {
            h4 {
                margin: 17px 0 7px;
            }
            p {
                font-size: 0.75rem;
                line-height: normal;
                margin-bottom: 8px;
            }
        }

        #fileUpload {
            h4 {
                margin-top: 13px;
            }
            input[type = file] {
                display: none;
            }
            .file-label {
                @include flexMode(center);
                text-align: center;
                width: 100%;
                padding: 16px 0;
                background-color: #ffffff;
                cursor: pointer;
                border: 2px dashed #DCDFE1;
                border-radius: 5px;
                transition: all 0.3s;
              }
              .file-label:hover,
              .file-label.hover { /* .hoverクラスが追加された時と:hoverの時に適用されるスタイル */
                  background-color: #f5f5f5;
              }
                       
            .fa {
                margin-right: 10px;
                font-size: 1.5rem;
            }
        }
    }

    #formFooter {
        @include flexMode(flex-end);
        background-color: #ffffff;
        height: 66px;
        padding: 19px;
        button {
            padding: 8px 14px;
            color: #ffffff;
            background-color: #3F434A;
            border-radius: 5px;
        }
    }
  }




/* JavaScript
------------------------------- */
.hover { /* .hoverクラスが追加された時と:hoverの時に適用されるスタイル */
    background-color: #f5f5f5;
}              


/* レスポンシブ・ブレークポイント599px
------------------------------- */
@media screen and (max-width:599px) {
    h2 { font-size: 1.625rem; }
    h3 { font-size: 1.375rem; }
}
/*-------------------------------------------

-------------------------------------------*/

