@charset "UTF-8";

/*-------------------------------------------
共通設定
-------------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Meiryo;";
  font-size: 0.875rem;
  color: #000;
  background-color: #F0F0F0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
/*
セクションタイトル
*/
.section-title {
  padding-bottom: 30px;
  margin-bottom: 50px;
  position: relative;
}
.section-title:before {
  position: absolute;
  content: "";
  top: 105px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.section-title span {
  display: block; /* 縦に並べる */
}
.section-title .en {
  font-size: 2.25rem;
  font-weight: normal;
  letter-spacing: 10px;
}
.section-title .ja {
  font-size: 0.875rem;
  font-weight: normal;
}
/*
横幅を設定するための共通クラス
*/
.wrapper {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 15px;
}


/*-------------------------------------------
header
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#header .inner {
  max-width: 1000px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
#header .header-logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
#header .header-logo a {
  display: block;
}
#header .header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav ul li {
  margin-right: 30px;
}
#header nav ul li:last-child {
  margin-right: 0;
}
/* お問い合わせ */
#header .contact {
  height: 80px;
  width: 200px;
  line-height: 80px;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  background-color: #000;
}
#header .contact a {
  display: inline-block;
}
#header .contact:hover {
  opacity: 0.8;
}

/*-------------------------------------------
mainVisual
-------------------------------------------*/
#mainVisual {
  margin-bottom: 110px;
}
#mainVisual img {
  height: calc(100vh - 80px);
  width: 100%;
  object-fit: cover;
  background-position: center bottom;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news {
  margin-bottom: 120px;
}
#news ul {
  display: flex;
  justify-content: space-between;
}
#news ul li {
  border-right: 1px solid #000;
  width: calc(100% / 3);
  padding: 11px 20px;
}
#news ul li:last-child {
  border-right: none;
}
#news ul li p {
  margin-top: 15px;
}
#news ul li:first-child {
  padding-left: 0;
}
#news ul li span {
  color: #F0F0F0;
  background: #000;
  padding: 0 5px;
  margin-left: 10px;
}

/*-------------------------------------------
about
-------------------------------------------*/
#about {
  display: flex;
  margin-bottom: 110px;
}
#about .about-image { /* 左の画像ブロック */
  width: 55%;
}
#about .about-image img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
#about .about-text {
  width: 45%;
  padding: 170px 5% 0;
}
#about .about-text .text p {
  line-height: 2.2;
}

/*-------------------------------------------
business
-------------------------------------------*/
#business {
  margin-bottom: 120px;
}
#business .business-offerings {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
#business .business-offerings .items-left {
  margin-top: 100px;
}
#business .business-offerings .items-left,
#business .business-offerings .items-right {
  width: 46%;
}
#business .business-offerings .items-left .item,
#business .business-offerings .items-right .item {
  margin-bottom: 50px;
}
/* 2つ目のmargin-bottom削除 */
#business .business-offerings .items-left .item:last-child,
#business .business-offerings .items-right .item:last-child {
  margin-bottom: 0;
}
#business .business-offerings .items-left h3,
#business .business-offerings .items-right h3 {
  font-size: 0.875rem;
  margin-bottom: 10px;
}
#business .business-offerings h3 {
  position: relative;
  margin-left: 18px;

}
#business .business-offerings h3::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -18px;
  width: 8px;
  height: 1px;
  background-color: #000;
  margin-right: 10px;
}

/*-------------------------------------------
company
-------------------------------------------*/
#company {
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto 130px;
}
#company .company-info {
  background-color: #fff;
  width: 55%;
  padding: 90px 63px;
}
#company .company-info dl {
  display: flex;
  flex-wrap: wrap;
}
#company .company-info dl dt {
  width: 19%;
  margin-bottom: 10px;
}
#company .company-info dl dd {
  width: 81%;
  margin-bottom: 10px;
}
#company .company-info dl .add {
  margin-left: 19%;
}
/* 画像 */
#company .company-img {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}
#company .company-img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  background-color: rgb(255, 255, 255);
}
#footer .footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
#footer .footer-logo {
  width: 100px;
}
#footer .copy {
font-size: 0.625rem;
padding-bottom: 20px;
}

/* レスポンシブ・ブレークポイント900px
------------------------------- */
@media screen and (max-width: 900px) {
  /*
セクションタイトル
*/
.section-title {
  margin-bottom: 30px;
}
.section-title:before {
  top: 95px;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header .header-left {
  display: block;
}
#header .header-logo {
  margin: 0 0 8px;
}
/* お問い合わせ */
#header .contact {
  display: none;
}

/*-------------------------------------------
mainVisual
-------------------------------------------*/
#mainVisual {
  margin-bottom: 70px;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news {
  margin-bottom: 80px;
}
#news ul {
  flex-direction: column;
}
#news ul li {
  border-right: 0;
  padding: 11px 20px 11px 0;
  width: 100%;
  margin-bottom: 18px;
}
#news ul li:last-child {
  margin-bottom: 0;
}

/*-------------------------------------------
about
-------------------------------------------*/
#about {
  flex-direction: column;
  margin-bottom: 70px;
}
#about .about-image { /* 左の画像ブロック */
  width: 100%;
}
#about .about-text {
  width: 100%;
  padding: 0 15px;
}
#about .about-image img {
  margin-bottom: 20px;
}

/*-------------------------------------------
business
-------------------------------------------*/
#business {
  margin-bottom: 80px;
}
#business .business-offerings {
  flex-direction: column;
  padding: 0;
}
#business .business-offerings .items-left,
#business .business-offerings .items-right {
  width: 100%;
  margin-top: 0;
}
#business .business-offerings .items-left .item,
#business .business-offerings .items-right .item {
  margin-bottom: 30px;
}

/*-------------------------------------------
company
-------------------------------------------*/
#company {
  padding: 0 15px;
  margin: 0 auto;
}
#company .company-img {
  position: initial;
}
#company .company-info {
  width: 100%;
  padding: 30px 20px 30px 20px;
  margin-bottom: 20px;
}
#company .company-info dl {
  flex-direction: column;
}
#company .company-info dl dt {
  width: 100%;
  margin: 10px 0 5px;
}
#company .company-info dl dd {
  width: 100%;
  margin: 0 0 8px 15px;
}
#company .company-info dl .add {
  margin-left: 15px;
  margin-bottom: 5px;
}
/* 画像 */
#company .company-img {
  width: 100%;
}
/*-------------------------------------------
footer
-------------------------------------------*/
#footer .footer-main {
  display: block;
}

#footer .footer-logo {
  width: 80px;
  margin-bottom: 10px;
}
}