@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
    font-family: "Meiryo";
    font-size: 0.875rem;
    color: #000;
    background-color: #F0F0F0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}

.logo a {
  display: block;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
/*
疑似要素の横ライン
*/
.section-title::after {
  display: block;
  content: "";
  top: 0;
  width: 40px;
  height: 1px;
  background-color: #000;
}

.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.section-title .ja {
  display: block;
  font-size: 0.875rem;
  padding-bottom: 36px;
}
/*
横幅を設定するための共通クラス
*/
.wrapper {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 15px;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#header .inner {
  display: flex;
  align-items: center;
}
#header .inner ul {
  display: flex;
  align-items: center;
}
#header .inner li {
  margin-right: 30px;
}
#header .inner li:last-child {
  margin-right: 0;
}
#header .contact {
  line-height: 80px;
  width: 200px;
  color: #fff;
  background-color: #000;
  text-align: center;
}
#header .contact:hover {
  background-color: #333;
}

/*-------------------------------------------
mainVisual
-------------------------------------------*/
#mainVisual {
  height: calc(100% - 80px);
  margin-bottom: 120px;
}
#mainVisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/*-------------------------------------------
news
-------------------------------------------*/
#news {
  margin-bottom: 120px;
}
#news .list {
  display: flex;
  justify-content: space-between;
}
#news .list li {
  border-right: 1px solid #000;
  padding: 10px 20px;
  width: 100%;
}
#news .list li:last-child {
  border-right: 0;
}
#news .list li:first-child {
  padding-left: 0;
}
#news .list li .date-area {
  margin-bottom :15px;
}
#news .list li .date-area span {
  height: 20px;
  width: 50px;
  color: #fff;
  background-color: #000;
  font-size: 0.75rem;
  padding: 1px 6px;
  margin-left: 10px;
}

/*-------------------------------------------
about
-------------------------------------------*/
#about {
  margin-bottom: 120px;
  display: flex;
}
#about .img {
  width: 55%;
}
#about .img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
#about .text {
  width: 45%;
  padding: 180px 5% 0;
}
#about .text p {
  line-height: 2.2;
}

/*-------------------------------------------
business
-------------------------------------------*/
#business {
    margin-bottom: 120px;
}
#business .flex {
  display: flex;
  justify-content:  space-between;		
  padding: 0 10%;
}
#business .flex .left {
  width: 46%;
  margin-top: 100px;
}
#business .flex .right {
  width: 46%;
}
#business .flex .item p {
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 18px;

    position: relative;
}
#business .flex .item p::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 8px;
    height: 1px;
    background-color: #000;
}
#business .flex .item  {
    margin-bottom: 50px;
}
#business .flex .item:last-child {
    margin-bottom: 0;
}

/*-------------------------------------------
company
-------------------------------------------*/
#company {
    height: 750px;
    display: flex;
    position: relative;
    align-items: center;

}
#company .text {
    background-color: #fff;
    padding: 100px 8% 100px 6%;
    width: 55%;
    position: absolute;
    top: 0;
    left: 0;
}
#company .img {
    width: 53%;
    position: absolute;
    top: 115px;
    left: 47%;
}
#company .img img {
    height: 400px;
    object-fit: cover;
}
#company .info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#company .info dt {
    width: 20%;
    margin-top: 10px;
}
#company .info dt:first-child {
    margin-top: 0;
}
#company .info dd {
    width: 80%;
    margin-top: 8px;
}
#company .info dd:first-child {
    margin-top: 0;
}
#company .info .add {
    margin-left: 20%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
    padding-bottom: 15px;
    background-color: #fff;
}
#footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}
#footer .copyright {
    font-size: 0.625rem;
}





/* レスポンシブ・ブレークポイントpx
------------------------------- */

/*-------------------------------------------

-------------------------------------------*/
