/* スタイルシート styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
 
  background-color: #f8f8f8;
  padding: 10px;
  align-items: center;
}

.logo {
  flex: 0 0 120px; /* ロゴの幅を120pxに固定 */
  font-size: 24px;
  font-weight: bold;
  color: #333;
}



.navigation {
  flex: 0 0 200px; /* ナビゲーションの幅を200pxに固定 */
  display: flex;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.navigation a:hover {
  text-decoration: underline;
}


.search-form {
  flex-grow: 1; /* 伸縮可能なエリアをすべて使用 */
  display: flex;
  padding: 0 10px;
}

.search-form input[type="search"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-form button {
  background: none;
  border: none;
  cursor: pointer;
}