@charset "UTF-8";

/* Google Fonts 読み込み */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
/* /ここまで共通設定 */

/* 全体を囲むコンテナ */
.container {
    width: 100%;
    height: 100vh;
    background-color: #15151E;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 時計の共通スタイル */
.clock {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff; /* 文字の色 */
    text-shadow: 0 0 20px #0aafe6; /* 文字を発光させる */
    line-height: 1.2; /* 文字の高さ */
    text-align: center; /* 文字を中央に寄せる */
  }

  /* 日付のスタイル */
  .clock-date {
    font-size: 25px;
  }

  /* 時間のスタイル */
  .clock-time {
    font-size: 100px;
  }

  /* 文字サイズ調整 */
  @media screen and (max-width: 500px) {
    .clock-date {
      font-size: 5vw;
    }
    .clock-time {
      font-size: 20vw;
    }
  }
/* レスポンシブ・ブレークポイント500px
------------------------------- */
@media screen and (max-width:500px) {
    .clock-date {
        font-size: 5vw;
    }
    .clock-time {
        font-size:  20vw;
    }
}